.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}
.dark-modal .close {
    color: white;
}
.light-blue-backdrop {
    background-color: #5cb3fd;
}

.modalApp {
    background: #0000008a;
    z-index: 9999;
    display: block;
}

// .modalApp button{
//     width: 20% !important;
// }

.modalApp .modal-footer {
    justify-content: space-around !important;
}

.right {
    text-align: right;
}

.derecha {
    text-align: right;
}

// Colores para las promociones
.C00FFFF {
    background-color: #00FFFF;
}

.CF5F5DC {
    background-color: #F5F5DC;
}

.C0000FF {
    background-color: #0000FF;
}

.CA52A2A {
    background-color: #A52A2A;
}

.C7FFF00 {
    background-color: #7FFF00;
}

.CFF7F50 {
    background-color: #FF7F50;
}

.C8B008B {
    background-color: #8B008B;
}

.CFF8C00 {
    background-color: #FF8C00;
}

.CFF1493 {
    background-color: #FF1493;
}

.C696969 {
    background-color: #696969;
}

.CDCDCDC {
    background-color: #DCDCDC;
}

.CFF00FF {
    background-color: #FF00FF;
}

.C808080 {
    background-color: #808080;
}

.C228B22 {
    background-color: #228B22;
}

  .C8000{
    background-color: #008000;
}

.CADFF2F {
    background-color: #ADFF2F;
}

.CFFD700 {
    background-color: #FFD700;
}

.CCD5C5C {
    background-color: #CD5C5C;
}

.CF0E68C {
    background-color: #F0E68C;
}

.C4B0082 {
    background-color: #4B0082;
}

.CADD8E6 {
    background-color: #ADD8E6;
}

.CE0FFFF {
    background-color: #E0FFFF;
}

.C87C3FA {
    background-color: #87C3FA;
}

.C87CEFA {
    background-color: #87CEFA;
}

.C00FF00 {
    background-color: #00FF00;
}

.CFFA500 {
    background-color: #FFA500;
}

.C808000 {
    background-color: #808000;
}

.CCD853F {
    background-color: #CD853F;
}

.CAFEEEE {
    background-color: #AFEEEE;
}

.CFF0000 {
    background-color: #FF0000;
}

.CC0C0C0 {
    background-color: #C0C0C0;
}

.CEE82EE {
    background-color: #EE82EE;
}

.C40E0D0 {
    background-color: #40E0D0;
}

.CFFFF00 {
    background-color: #FFFF00;
}

.CF5F5F5 {
    background-color: #F5F5F5;
}

.CD1DEEC {
    background-color: #D1DEEC;
}
