<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <!-- <div class="container-fluid">
        
    </div> -->
</div>
<!-- Page content -->
<div class="container-fluid mt--7" style="margin-top: -13rem !important;">
    <div class="row">      
      <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">{{ _titulo }}</h3>
              </div>
              <div class="col-4 text-right">
                <a (click)="cancelar()" class="btn btn-primary">Cancelar</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <!-- Tabs navs -->
              <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                  <a
                    [ngClass]="(tab1) ? 'nav-link active' : 'nav-link'"
                    id="ex1-tab-1"
                    data-mdb-toggle="tab"
                    (click)="tab1=true;tab2=false;tab3=false;tab4=false"
                    role="tab"
                    aria-controls="ex1-tabs-1"
                    (aria-selected)="tab1"
                    >General</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    [ngClass]="(tab2) ? 'nav-link active' : 'nav-link'"
                    id="ex1-tab-2"
                    data-mdb-toggle="tab"
                    (click)="tab1=false;tab2=true;tab3=false;tab4=false"
                    role="tab"
                    aria-controls="ex1-tabs-2"
                    (aria-selected)="tab2"
                  >Contactos</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    [ngClass]="(tab3) ? 'nav-link active' : 'nav-link'"
                    id="ex1-tab-3"
                    data-mdb-toggle="tab"
                    (click)="tab1=false;tab2=false;tab3=true;tab4=false"
                    role="tab"
                    aria-controls="ex1-tabs-3"
                    (aria-selected)="tab3"
                  >Direcciones</a>
                </li>
                <li class="nav-item" role="presentation" [ngClass]="xCodCliente == '0' ? 'oculto' : 'visible'">
                  <a
                    [ngClass]="(tab4) ? 'nav-link active' : 'nav-link'"
                    id="ex1-tab-4"
                    data-mdb-toggle="tab"
                    (click)="tab1=false;tab2=false;tab3=false;tab4=true"
                    role="tab"
                    aria-controls="ex1-tabs-4"
                    (aria-selected)="tab4"
                  >Estado cuenta</a>
                </li>
              </ul>
              <!-- Tabs navs -->
                
              <!-- Tabs content -->
              <div class="tab-content" id="ex1-content">
                <div [ngClass]="(tab1) ? 'tab-pane fade show active' : 'tab-pane fade' " id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">                        
                  <div class="pl-lg-4">
                      <div class="row">
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label class="form-control-label" for="input-codigo">Código Cliente</label>
                              <input type="text" id="input-codigo" placeholder="C00000000000" class="form-control form-control-alternative" disabled="" >                                    
                            </div>
                          </div>
                          <div class="col-lg-3">
                            &nbsp;
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label class="form-control-label" for="input-moneda">Moneda</label>
                              <select name="" id="input-moneda" class="form-control">
                                <option value="##">Monedas (todas)</option>            
                                <option *ngFor="let depa of listaMoneda" [value]="depa.codigo" > {{ depa.descripcion }} </option>            
                              </select>
                            </div>
                          </div>                                
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label class="form-control-label" for="input-giro-neg">Giro Negocio</label>
                              <select name="" id="input-giro-neg" class="form-control">
                                <option value="##">--Seleccione--</option>            
                                <option *ngFor="let depa of listaIndustry" [value]="depa.codigo" > {{ depa.descripcion }} </option>            
                              </select>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="form-group">
                                  <label class="form-control-label" for="input-razon-social">Razon Social</label>
                                  <input type="text" id="input-razon-social" placeholder="Razon Social" class="form-control form-control-alternative" />
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group">
                                  <label class="form-control-label" for="input-nombre-comercial">Nombre Comercial</label>
                                  <input type="text" id="input-nombre-comercial" placeholder="Nombre Comercial" class="form-control form-control-alternative" />
                              </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-tipo-doc">Tipo Documento</label>
                            <select id="input-tipo-doc" class="form-control" >
                              <option value="">--Seleccione--</option>        
                              <option value="0">OTROS TIPOS DE DOCUMENTOS</option>
                              <option value="1">DOCUMENTO NACIONAL DE IDENTIDAD (DNI)</option>        
                              <option value="4">CARNET DE EXTRAMJERIA</option>
                              <option value="6">REGISTRO UNICO DE CONTRIBUYENTE</option>        
                              <option value="7">PASAPORTE</option>
                              <option value="A">CEDULA DIPLOMATICA DE IDENTIDAD</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-2">
                          <div class="form-group">
                            <label class="form-control-label" for="input-nro-doc">N° Documento</label>
                            <input type="text" id="input-nro-doc" placeholder="Numero Documento" class="form-control form-control-alternative" (blur)="onBlurDocumento()" />
                          </div>
                        </div>
                        <div class="col-lg-1">
                          <div class="form-group">
                            <a class="btn btn-sm btn-primary" (click)="consultaRUC()" style="bottom: 30% !important; position: absolute !important;" >
                              <i class="ni ni-world-2"></i>
                            </a>
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-tipo-per">Tipo Persona</label>
                            <select name="" id="input-tipo-per" class="form-control" [(ngModel)]="tipoPersona" >
                              <option value="">--Seleccione--</option>            
                              <option value="TPJ">JURIDICA</option>            
                              <option value="TPN">NATURAL</option>            
                              <option value="SND">SUJETO NO DOMICILIADO</option>
                              <option value="ADT">ADQUIRIENTE TICKET</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-grupo-cli">Grupo Cliente</label>
                            <select name="" id="input-grupo-cli" class="form-control" >
                              <option value="">--Seleccione--</option>            
                              <option *ngFor="let depa of listaGrupoCliente" [value]="depa.codigo" > {{ depa.descripcion }} </option>            
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngIf="tipoPersona=='TPN'">
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-pri-nom">Primer Nombre</label>
                            <input type="text" id="input-pri-nom" placeholder="Primer Nombre" class="form-control form-control-alternative" />
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-seg-nom">Segundo Nombre</label>
                            <input type="text" id="input-seg-nom" placeholder="Segundo Nombre" class="form-control form-control-alternative" />
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-ape-pat">Apellido Paterno</label>
                            <input type="text" id="input-ape-pat" placeholder="Primer Nombre" class="form-control form-control-alternative" />
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-ape-mat">Apellido Materno</label>
                            <input type="text" id="input-ape-mat" placeholder="Primer Nombre" class="form-control form-control-alternative" />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-email-cli">E-mail</label>
                            <input type="email" id="input-email-cli" placeholder="E-Mail" class="form-control form-control-alternative" />
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-telf-cli">Telefono Cliente</label>
                            <input type="text" id="input-telf-cli" placeholder="Telefono Cliente" class="form-control form-control-alternative" />
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-cel-cli">Celular Cliente</label>
                            <input type="text" id="input-cel-cli" placeholder="Celular Cliente" class="form-control form-control-alternative" />
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <div class="custom-control custom-checkbox mb-3">
                              <input name="custom-radio-2" class="custom-control-input" id="input-age-ret" type="checkbox">
                              <label class="custom-control-label" for="input-age-ret">Agente Retencion</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-3">
                              <input name="custom-radio-2" class="custom-control-input" id="input-bn-cont" type="checkbox">
                              <label class="custom-control-label" for="input-bn-cont">Buen Contribuyente</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-sol-cre">Solicita Crédito</label>
                            <select name="" id="input-sol-cre" class="form-control" disabled > <!--[(ngModel)]="U_EXK_SOLCRED" -->
                              <option value="">--Seleccione--</option>
                              <option value="N">NO</option>
                              <option value="Y">SI</option>           
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-imp-cre">Importe Crédito</label>
                            <input type="text" id="input-imp-cre" placeholder="Monto Credito" class="form-control form-control-alternative" disabled /> <!-- [(ngModel)]="U_EXK_IMPCRED" -->
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-mon-cre">Moneda Crédito</label>
                            <select name="" id="input-mon-cre" class="form-control" disabled > <!-- [(ngModel)]="U_EXK_MNDCRED" -->
                              <option value="">--Seleccione--</option>
                              <option value="SOL">SOL</option>
                              <option value="USD">USD</option>           
                          </select>
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-nc-cre">Notas de Crédito (Crédito)</label>
                            <input type="text" id="input-nc-cre" placeholder="Notas Credito (Crédito)" class="form-control form-control-alternative" disabled /> <!-- [(ngModel)]="U_EXK_NOTCRED" -->
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-aut-cre">Autoriza Crédito</label>
                            <select id="input-aut-cre" class="form-control" disabled > <!-- [(ngModel)]="U_EXK_AUTCRED" -->
                              <option value="-">--NINGUNO--</option>
                              <option value="N">NO</option>
                              <option value="Y">SI</option>             
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-sol-sbg">Solicita Sobregiro</label>
                            <select name="" id="input-sol-sbg" class="form-control" disabled > <!-- [(ngModel)]="U_EXK_SOLSOB" -->
                              <option value="">--Seleccione--</option>
                              <option value="N">NO</option>
                              <option value="Y">SI</option>             
                          </select>
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-por-sbg">% Sobregiro</label>
                            <input type="text" id="input-por-sbg" placeholder="% Sobregiro" class="form-control form-control-alternative" disabled /> <!-- [(ngModel)]="U_EXK_PORSOB" -->
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-nc-sbg">Notas Credito (Sobregiro)</label>
                            <input type="text" id="input-nc-sbg" placeholder="Notas Credito (Sobregiro)" class="form-control derecha" disabled /> <!-- [(ngModel)]="U_EXK_NCRESOB" -->
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-aut-sbg">Autoriza Sobregriro</label>
                            <select name="" id="input-aut-sbg" class="form-control" disabled > <!-- [(ngModel)]="U_EXK_AUTSOB" -->
                              <option value="-">--NINGUNO--</option>
                              <option value="N">NO</option>
                              <option value="Y">SI</option>             
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-sol-ccp">Solicita cambio de condición de pago</label>
                            <select name="" id="input-sol-ccp" class="form-control" disabled > <!-- [(ngModel)]="U_EXK_SCCONPAG" -->
                              <option value="">--Seleccione--</option>
                              <option value="N">NO</option>
                              <option value="Y">SI</option>            
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-cpa-ccp">Condición de pago</label>
                            <select name="" id="input-cpa-ccp" class="form-control" disabled > <!-- [(ngModel)]="U_EXK_CONDPAGO" -->
                              <option value="">--Seleccione--</option>
                              <option *ngFor="let depa of listaCondicionPago" [value]="depa.codigo" > {{ depa.descripcion }} </option>            
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-nc-ccp">Notas Credito (Cond. Pago)</label>
                            <input type="text" id="input-nc-ccp" placeholder="Notas Credito (Cond. Pago)" class="form-control derecha" disabled /> <!-- [(ngModel)]="U_EXK_NCCONDPAG" -->
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-aut-ccp">Autoriza Cambio Cond. Pago</label>
                            <select name="" id="input-aut-ccp" class="form-control" disabled > <!-- [(ngModel)]="U_EXK_CDPAGAUT" -->
                              <option value="-">--Ninguno--</option>
                              <option value="N">NO</option>
                              <option value="Y">SI</option>             
                          </select>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div [ngClass]="(tab2) ? 'tab-pane fade show active' : 'tab-pane fade' " id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                    <div class="pl-lg-4">
                        <div class="row">
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label class="form-control-label" for="input-id-cont">ID Contacto</label>
                              <input type="text" id="input-id-cont" placeholder="ID Conctacto" class="form-control form-control-alternative" />
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label class="form-control-label" for="input-pnom-cont">Primer Nombre Contacto</label>
                              <input type="text" id="input-pnom-cont" placeholder="Primer Nombre Contacto" class="form-control form-control-alternative" />
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label class="form-control-label" for="input-snom-cont">Segundo Nombre Contacto</label>
                              <input type="text" id="input-snom-cont" placeholder="Segundo Nombre Contacto" class="form-control form-control-alternative" />
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label class="form-control-label" for="input-ape-cont">Apellido Contacto</label>
                              <input type="text" id="input-ape-cont" placeholder="Apellido Contacto" class="form-control form-control-alternative" />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2">
                            <div class="form-group">
                              <label class="form-control-label" for="input-tel-cont">Telefono Contacto</label>
                              <input type="text" id="input-tel-cont" placeholder="Telefono Contacto" class="form-control form-control-alternative" />
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="form-group">
                              <label class="form-control-label" for="input-cel-cont">Celular Contacto</label>
                              <input type="text" id="input-cel-cont" placeholder="Celular Contacto" class="form-control form-control-alternative" />
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="form-group">
                              <label class="form-control-label" for="input-car-cont">Cargo Contacto</label>
                              <input type="text" id="input-car-cont" placeholder="Cargo Contacto" class="form-control form-control-alternative" />
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="form-group">
                              <label class="form-control-label" for="input-email-cont">Correo Contacto</label>
                              <input type="text" id="input-email-cont" placeholder="Correo Contacto" class="form-control form-control-alternative" />
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="form-group">
                              
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" (click)="agregarContacto()" style="bottom: 23% !important; position: absolute !important;">{{ textButtonContacto }}</button>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="form-group">
                                <ul>
                                  <li *ngFor="let contacto of listaContacto" >
                                    <ng-container *ngIf="contacto.flagEliminar == false">
                                      <label style="width: 600px;" >{{ contacto.nombre }}</label>
                                      <button type="button" class="btn btn-primary btn-sm" (click)="editarContacto(contacto)">Editar</button>
                                      <button type="button" class="btn btn-danger btn-sm" (click)="eliminarContacto(contacto)">Eliminar</button>
                                    </ng-container>
                                  </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="(tab3) ? 'tab-pane fade show active' : 'tab-pane fade' " id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                    <div class="pl-lg-4">
                        <div class="row">
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label class="form-control-label" for="input-pais">País</label>
                              <select name="" id="input-pais" class="form-control" >
                                <option value="PE">Perú</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-departamento">Departamento</label>
                              <select name="" id="input-departamento" class="form-control" (change)="obtenerProvincia()" >
                                <option value="">--Seleccione--</option>
                                <option *ngFor="let depa of listaDepartamento" [value]="depa.codigo" [selected]="depa.codigo==departamentoSucursal" > {{ depa.descripcion }} </option>            
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-provincia">Provincia</label>
                              <select name="" id="input-provincia" class="form-control" (change)="obtenerDistrito()" >
                                <option value="">--Seleccione--</option>
                                <option *ngFor="let prov of listaProvincia" [value]="prov.descripcion" [selected]="prov.descripcion==provinciaSucursal" > {{ prov.descripcion }} </option>            
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-distrito">Distrito</label>
                              <select name="" id="input-distrito" class="form-control" (change)="obtenerUbigeo()">
                                <option value="">--Seleccione--</option>
                                <option *ngFor="let dist of listaDistrito" [value]="dist.descripcion" [selected]="dist.descripcion==distritoSucursal" > {{ dist.descripcion }} </option>            
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2">
                            <div class="form-group">
                              <label class="form-control-label" for="input-zona">Zona</label>
                              <select name="" id="input-zona" class="form-control" (change)="obtenerUbigeo()">
                                <option value="">--Seleccione--</option>
                                <option *ngFor="let zona of listaZona" [value]="zona.codigo" [selected]="zona.codigo==zonaSucursal" > {{ zona.descripcion }} </option>            
                              </select>
                            </div>   
                          </div>
                          <div class="col-lg-2">
                            <div class="form-group">
                              <label class="form-control-label" for="input-ubigeo">Ubigeo</label>
                              <input type="text" id="input-ubigeo" placeholder="Ubigeo" class="form-control form-control-alternative" disabled="" />
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="form-group">
                              <label class="form-control-label" for="input-tipo-dir">Tipo Dirección</label>
                              <select name="" id="input-tipo-dir" class="form-control" (change)="obtenerCodigoDir()" >
                                <option value="">--Seleccione--</option>            
                                <option value="B">FISCAL</option>            
                                <option value="S">ALMACEN</option>            
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="form-group">
                              <label class="form-control-label" for="input-id-dir">ID Direccion</label>
                              <input type="text" id="input-id-dir" placeholder="ID Direccion" class="form-control form-control-alternative" disabled="" />
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="form-group">
                              <label class="form-control-label" for="input-direccion">Direccion</label>
                              <input type="text" id="input-direccion" placeholder="Direccion" class="form-control form-control-alternative" />
                            </div>
                          </div>                              
                        </div>
                        <div class="row">
                          <div class="col-lg-2">
                            <div class="form-group">
                              <button type="button" class="btn btn-primary" (click)="agregarDireccion()">{{ textButtonDireccion }}</button>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="form-group">
                              <ul>
                                <li *ngFor="let dir of listaDireccion" >
                                  <ng-container *ngIf="dir.flagEliminar == false">
                                      <label style="width: 600px;" >{{ dir.nombre }} - {{ dir.direccion }}</label>
                                      <button type="button" class="btn btn-primary btn-sm" (click)="editarDireccion(dir)">Editar</button>
                                      <button type="button" class="btn btn-danger btn-sm" (click)="eliminarDireccion(dir)">Eliminar</button>                                      
                                  </ng-container>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="(tab4) ? 'tab-pane fade show active' : 'tab-pane fade' " id="ex1-tabs-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-2">
                        <div class="form-group">
                          <label class="form-control-label" for="input-line-credit">Línea de Credito</label>
                          <input type="text" id="input-line-credit" placeholder="0.00" class="form-control form-control-alternative right" disabled="" >
                        </div>
                      </div>
                      <div class="col-lg-2">
                        <div class="form-group">
                          <label class="form-control-label" for="input-line-vencida">Línea Vencida</label>
                          <input type="text" id="input-line-vencida" placeholder="0.00" class="form-control form-control-alternative right" disabled="" >
                        </div>
                      </div>
                      <div class="col-lg-2">
                        <div class="form-group">
                          <label class="form-control-label" for="input-line-porvenc">Línea Por Vencer</label>
                          <input type="text" id="input-line-porvenc" placeholder="0.00" class="form-control form-control-alternative right" disabled="" >
                        </div>
                      </div>
                      <div class="col-lg-2">
                        <div class="form-group">
                          <label class="form-control-label" for="input-line-utilizada">Línea Utilizada</label>
                          <input type="text" id="input-line-utilizada" placeholder="0.00" class="form-control form-control-alternative right" disabled="" >
                        </div>
                      </div>
                      <div class="col-lg-2">
                        <div class="form-group">
                          <label class="form-control-label" for="input-line-disponible">Línea Disponible</label>
                          <input type="text" id="input-line-disponible" placeholder="0.00" class="form-control form-control-alternative right" disabled="" >
                        </div>
                      </div>
                      <div class="col-lg-2">
                        <div class="form-group">
                          <button class="btn btn-primary" (click)="descargarEECC()" style="bottom: 27% !important; position: absolute !important;" >Descargar</button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="card shadow">          
                          <div class="table-responsive">
                              <table class="table align-items-center table-flush">
                                  <thead class="thead-light">
                                      <tr>
                                          <th [class]="item.customClass" scope="col" *ngFor="let item of listaHeader">{{ item.label }}</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let row of listaEecc | paginacionEecc:pagina">
                                          <td [class]="item.customClass" *ngFor="let item of listaHeader"  [ngClass]="(item.key=='diasVencidos' && row[item.key] > 0) ? 'bg-danger' : ''">
                                              <ng-container *ngIf="row[item.key]">                                        
                                                <ng-container *ngIf="item.subKey=='' && item.type=='' && item.customClass==''">
                                                  {{ row[item.key] }}
                                                </ng-container>
                                                <ng-container *ngIf="item.subKey=='' && item.type=='' && item.customClass=='right'" [class]="item.customClass">
                                                  {{ row[item.key] | number: '1.2-2' }}
                                                </ng-container>
                                                <ng-container *ngIf="item.subKey=='' && item.type=='' && item.customClass=='entero'" [class]="item.customClass">
                                                  {{ row[item.key] | number }}
                                                </ng-container>
                                                <ng-container *ngIf="item.subKey=='' && item.type=='' && item.customClass=='fecha'">
                                                  {{ row[item.key] | date: 'dd/MM/yyyy'}}
                                                </ng-container> 
                                              </ng-container>
                                              <ng-container *ngIf="item.type=='buttonSearch'">
                                                  <button type="button" class="btn btn-secondary btn-sm" (click)="searchDocumento(row)">
                                                      <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                                          <path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/>
                                                      </svg>
                                                  </button>
                                              </ng-container>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="card-footer py-4">
                              <nav aria-label="...">
                                  <ul class="pagination justify-content-end mb-0">
                                      <li class="page-item disabled">
                                          <a class="page-link" (click)="pagina = pagina > 1 ? pagina-1 : pagina" tabindex="-1">
                                              <i class="fas fa-angle-left"></i>
                                              <span class="sr-only">Previous</span>
                                          </a>
                                      </li>
                                  <li *ngFor="let pag of listaPaginas" class="page-item">
                                      <a class="page-link" (click)="selectPagina(pag)" >{{ pag }}</a>
                                  </li>
                                  <li class="page-item">
                                      <a class="page-link" (click)="pagina = pagina < listaPaginas.length ? pagina+1 : pagina">
                                          <i class="fas fa-angle-right"></i>
                                          <span class="sr-only">Next</span>
                                      </a>
                                  </li>
                                  </ul>
                              </nav>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Tabs content -->
              <hr class="my-4">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-3">
                    <a (click)="guardarCliente()" class="btn btn-primary">Guardar</a>
                  </div>
                </div>
              </div>

              <!-- Confirm Dialog -->
              <div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [ngClass]="(confirmDialog) ? 'modal modalApp' : 'modal fade bd-example-modal-lg'">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                          <h5>Mensaje Sistema</h5>
                      </div>
                      <div class="modal-body">
                          <div class="row">
                              <div class="col-lg-12">
                                  <span *ngIf="confirmDialog">
                                      <p>{{ msgError }}</p>
                                  </span>
                              </div>                              
                          </div>
                      </div>
                      <div class="modal-footer">
                          <button class="btn btn-secundary" (click)="confirmDialog=false">OK</button>
                      </div>
                    </div>
                  </div>
              </div>
                          
              <!-- Confirm Dialog GUARDAR-->
              <div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [ngClass]="(guardarDialog) ? 'modal modalApp' : 'modal fade bd-example-modal-lg'">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h5>Mensaje Sistema</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <span *ngIf="guardarDialog">
                                    <p [innerHTML]="msgError"></p>
                                </span>
                            </div>                              
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secundary" (click)="closeDialogConfirm()">OK</button>
                    </div>
                  </div>
                </div>
              </div>
  
              <!-- Confirm Dialog Eliminar Cliente -->
              <div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [ngClass]="(confirmDialogEliminarCli) ? 'modal modalApp' : 'modal fade bd-example-modal-lg'">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                          <h5>Mensaje Sistema</h5>
                      </div>
                      <div class="modal-body">
                          <div class="row">
                              <div class="col-lg-12">
                                  <span *ngIf="confirmDialogEliminarCli">
                                      <p>¿Esta seguro de querer eliminar el contacto?</p>
                                  </span>
                              </div>                              
                          </div>
                      </div>
                      <div class="modal-footer">
                          <button class="btn btn-secundary" (click)="aceptDialogConfirmDelCli()">SI</button>
                          <button class="btn btn-secundary" (click)="closeDialogConfirmDelCli()">NO</button>
                      </div>
                    </div>
                  </div>
              </div>
              
              <!-- Confirm Dialog Direccion -->
              <div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [ngClass]="(confirmDialogEliminarDir) ? 'modal modalApp' : 'modal fade bd-example-modal-lg'">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                          <h5>Mensaje Sistema</h5>
                      </div>
                      <div class="modal-body">
                          <div class="row">
                              <div class="col-lg-12">
                                  <span *ngIf="confirmDialogEliminarDir">
                                      <p>¿Esta seguro de querer eliminar la dirección?</p>
                                  </span>
                              </div>                              
                          </div>
                      </div>
                      <div class="modal-footer">
                          <button class="btn btn-secundary" (click)="aceptDialogConfirmDelDir()">SI</button>
                          <button class="btn btn-secundary" (click)="closeDialogConfirmDelDir()">NO</button>
                      </div>
                    </div>
                  </div>
              </div>

              <!-- Modal Cargando ... -->
            <div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [ngClass]="(flagLoad) ? 'modal modalApp' : 'modal fade modal-md'">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">                  
                  <div class="modal-body">
                      <div class="row">
                          <div class="col-lg-12" style="text-align: center !important;">
                            <img src="../../../assets/img/brand/load.gif" alt="Espera " style="max-width: 833px; vertical-align: middle !important;">
                          </div>                              
                      </div>
                  </div>                  
                </div>
              </div>
            </div>
            </form>

          </div>
        </div>
      </div>
    </div>
</div>